{% extends "base.html" %}

{% block page_content %}

<div class="page-header">
    <h2>REST API Client </h2>
    <p>A pet shop or pet store is a retail business which sells animals and pet care resources to the public. A variety of animal supplies and pet accessories are also sold in pet shops. The products sold include: food, treats, toys, collars, leashes, cat litter, cages and aquariums. Some pet stores provide engraving services for pet tags, which have the owner's contact information in case the pet gets lost.
        In the United Kingdom, United States and Canada, pet shops often offer both hygienic care (such as pet cleaning) and aesthetic services (such as cat and dog grooming).
    </p>
</div>
{% endblock %}